---
/* IMPORTS */
import '@fontsource/roboto-condensed';
import '@fontsource/roboto';
import Loadingscreen from '../components/Loadingscreen.astro';
import type { Project } from '../ts/types/types';
import Head from '../components/Head.astro';

/* TYPES */
export interface Props {
  title: string;
  project?: Project;
}

/* PROPS */
const { title, project } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <Head title={title} project={project} />

  <body>
    <Loadingscreen />
    <slot />

    <style lang='scss' is:global>
      @import '../sass/variables.scss';
      @import '../sass/mixins.scss';
      html {
        min-height: 100%;
        scroll-behavior: smooth;

        @media (max-width: 50rem) {
          font-size: 80%;
        }
      }

      body {
        min-height: 100%;
        font-family: 'Roboto';
        margin: 0;
      }

      h1 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 5rem;
      }

      h2 {
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        margin: 0;
        color: $orange-web;
        margin-bottom: 1em;
      }

      h4 {
        font-family: 'Roboto Condensed', sans-serif;
        color: $platinum;
        font-size: 3.2rem;
        font-weight: 600;
        margin: 0;
        margin-bottom: 1em;
      }

      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
          Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
    <script src='https://kit.fontawesome.com/f4df587ce4.js' crossorigin='anonymous'
    ></script>
  </body>
</html>
