---
/* IMPORTS */
import '@fontsource/roboto-condensed';
import '@fontsource/roboto';
import Loadingscreen from '../components/Loadingscreen.astro';
import type { Project } from '../ts/types/types';
import Head from '../components/Head.astro';

/* TYPES */
export interface Props {
  title: string;
  project?: Project;
}

/* PROPS */
const { title, project } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <Head title={title} project={project} />

  <body>
    <Loadingscreen />
    <slot />

    <style lang='scss' is:global>
      @import '../sass/variables.scss';

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .hidden {
        display: none;
      }

      .center {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .max-width {
        display: block;
        margin: auto;
        max-width: 2100px;
      }

      html {
        scroll-behavior: smooth;

        @media (max-width: 50rem) {
          font-size: 80%;
        }
      }

      body {
        font-family: 'Roboto';
        background-color: black;
      }

      h1 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 5rem;
      }

      h2 {
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        margin: 0;
        color: $orange-web;
        margin-bottom: 1em;
      }

      h3 {
        font-family: 'Roboto Condensed', sans-serif;
        color: $platinum;
        font-size: 3.2rem;
        font-weight: 600;
        margin: 0;
        margin-bottom: 1em;
      }

      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
          Bitstream Vera Sans Mono, Courier New, monospace;
      }

      @supports (position: -webkit-sticky) {
        .max-width {
          overflow: hidden;
        }
      }
    </style>
    <script src='https://kit.fontawesome.com/f4df587ce4.js' crossorigin='anonymous'
    ></script>
  </body>
</html>
