@import './variables';
// BUTTON

.btn {
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  color: $platinum;
  border: 1px solid $platinum;
  padding: 20px;
  font-weight: 600;
  z-index: 30;
  overflow: hidden;
  cursor: pointer;
  transition: all 400ms;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fca311;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 400ms;
    transform: skew(-30deg) translateX(-115%);
  }

  &:hover {
    border: 1px solid #fca311;
    color: black;
    &::before {
      transform: translateX(0);
    }
  }
}

.btn-custom {
  background-color: $orange-web;
  color: black;
  border: 1px solid $orange-web;

  &::before {
    background-color: $platinum;
  }

  &:hover {
    border: 1px solid black;
  }
}

.btn-disabled {
  border: 1px solid rgba(128, 128, 128, 0.336);
  color: rgba(128, 128, 128, 0.336);
  pointer-events: none;
}

// SVG LINKS, WRAP THIS CLASS WITH AN A TAG

.svg-link {
  width: 24px;
  height: 24px;
  fill: $platinum;
  transform: scale(100%);
  transition: transform 100ms;

  &:hover {
    transform: scale(115%);
  }
}
