$black: hsla(0, 0%, 0%, 1);
$oxford-blue: hsla(221, 51%, 16%, 1);
$orange-web: hsla(37, 98%, 53%, 1);
$platinum: hsla(0, 0%, 90%, 1);
$platinum-dark: hsla(0, 0%, 89%, 0.705);
$white: hsla(0, 0%, 100%, 1);

$media-medium: 50rem;
$media-small: 35rem;
