@import './variables.scss';
@import './mixins.scss';
@import './components.scss';
@import './hamburger.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
