---
import About from '../components/About.astro';
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';

import Work from '../components/Work.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Bar from '../components/Bar.astro';
import Sourcecode from '../components/Sourcecode.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='HAIKO ERINKVELD | Creating Code from Designs'>
  <Navbar className='max-width' />
  <main class='max-width'>
    <Hero />
    <About />
    <Work />
    <Projects />
    <Bar className='center' />
    <Contact />
    <Sourcecode />
  </main>
  <Footer className='max-width' />
</Layout>
