---
---

<section id='contact' class='contact'>
  <div class='contact-box'>
    <div class='contact-info'>
      <h2>Contact</h2>
      <h3>Got a problem to solve?</h3>
      <p>Send me a message and I'll contact you as soon as possible</p>
      <a href='mailto:haiko.erinkveld@gmail.com'>
        <svg
          fill='#000000'
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 50 50'
          width='50px'
          height='50px'
          ><path
            d='M 14 4 C 8.4886661 4 4 8.4886661 4 14 L 4 36 C 4 41.511334 8.4886661 46 14 46 L 36 46 C 41.511334 46 46 41.511334 46 36 L 46 14 C 46 8.4886661 41.511334 4 36 4 L 14 4 z M 14 6 L 36 6 C 40.430666 6 44 9.5693339 44 14 L 44 36 C 44 40.430666 40.430666 44 36 44 L 14 44 C 9.5693339 44 6 40.430666 6 36 L 6 14 C 6 9.5693339 9.5693339 6 14 6 z M 13 15 C 11.35503 15 10 16.35503 10 18 L 10 32 C 10 33.64497 11.35503 35 13 35 L 37 35 C 38.64497 35 40 33.64497 40 32 L 40 18 C 40 16.35503 38.64497 15 37 15 L 13 15 z M 13.414062 17 L 36.583984 17 L 27.677734 25.892578 C 26.18494 27.382984 23.796834 27.382819 22.304688 25.890625 L 13.414062 17 z M 38 18.412109 L 38 31.587891 L 31.402344 25 L 38 18.412109 z M 12 18.414062 L 18.585938 25 L 12 31.585938 L 12 18.414062 z M 29.988281 26.412109 L 36.585938 33 L 13.414062 33 L 20 26.414062 L 20.890625 27.304688 C 23.146478 29.56054 26.832638 29.562194 29.089844 27.308594 L 29.988281 26.412109 z'
          ></path>
        </svg> haiko.erinkveld@gmail.com</a
      >
    </div>

    <form
      class='contact-form'
      id='myform'
      name='myform'
      method='post'
      data-netlify='true'
      action='/formSubmit'
    >
      <label for='first'>Name</label>
      <div class='contact-form__items'>
        <input class='contact-form__name' type='text' name='first' id='first' />
        <span id='i-valid1' class='contact-form__valid-icon'>
          <svg
            version='1.1'
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 20 20'
          >
            <title>check</title>
            <path
              d='M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z'
            ></path>
          </svg>
        </span>
        <span class='contact-form__user-icon'>
          <svg
            version='1.1'
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 20 20'
          >
            <title>user</title>
            <path
              d='M7.725 2.146c-1.016 0.756-1.289 1.953-1.239 2.59 0.064 0.779 0.222 1.793 0.222 1.793s-0.313 0.17-0.313 0.854c0.109 1.717 0.683 0.976 0.801 1.729 0.284 1.814 0.933 1.491 0.933 2.481 0 1.649-0.68 2.42-2.803 3.334-2.13 0.918-4.326 2.073-4.326 4.073v1h18v-1c0-2-2.197-3.155-4.328-4.072-2.123-0.914-2.801-1.684-2.801-3.334 0-0.99 0.647-0.667 0.932-2.481 0.119-0.753 0.692-0.012 0.803-1.729 0-0.684-0.314-0.854-0.314-0.854s0.158-1.014 0.221-1.793c0.065-0.817-0.398-2.561-2.3-3.096-0.333-0.34-0.558-0.881 0.466-1.424-2.24-0.105-2.761 1.067-3.954 1.929z'
            ></path>
          </svg>
        </span>
        <span id='i-invalid1' class='contact-form__invalid-icon'>
          <svg
            version='1.1'
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 20 20'
          >
            <title>circle-with-cross</title>
            <path
              d='M10 1.6c-4.639 0-8.4 3.761-8.4 8.4s3.761 8.4 8.4 8.4 8.4-3.761 8.4-8.4c0-4.639-3.761-8.4-8.4-8.4zM14.789 13.061l-1.729 1.729-3.060-3.061-3.061 3.060-1.729-1.729 3.062-3.060-3.061-3.061 1.729-1.728 3.060 3.060 3.061-3.061 1.729 1.729-3.062 3.061 3.061 3.061z'
            ></path>
          </svg>
        </span>

        <span id='t-invalid1' class='contact-form__invalid-text'
          >Name must not be empty</span
        >
      </div>

      <label for='email'>E-mail</label>
      <div class='contact-form__items'>
        <input class='contact-form__name' type='email' name='email  ' id='email' />
        <span id='i-valid2' class='contact-form__valid-icon'>
          <svg
            version='1.1'
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 20 20'
          >
            <title>check</title>
            <path
              d='M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z'
            ></path>
          </svg>
        </span>
        <span class='contact-form__user-icon'>
          <svg
            version='1.1'
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 20 20'
          >
            <title>paper-plane</title>
            <path
              d='M18.64 2.634c-0.344 0.121-17.321 6.104-17.656 6.222-0.284 0.1-0.347 0.345-0.010 0.479 0.401 0.161 3.796 1.521 3.796 1.521v0l2.25 0.901c0 0 10.838-7.958 10.984-8.066 0.148-0.108 0.318 0.095 0.211 0.211s-7.871 8.513-7.871 8.513v0.002l-0.452 0.503 0.599 0.322c0 0 4.65 2.504 4.982 2.682 0.291 0.156 0.668 0.027 0.752-0.334 0.099-0.426 2.845-12.261 2.906-12.525 0.079-0.343-0.148-0.552-0.491-0.431zM7 17.162c0 0.246 0.139 0.315 0.331 0.141 0.251-0.229 2.85-2.561 2.85-2.561l-3.181-1.644v4.064z'
            ></path>
          </svg>
        </span>
        <span id='i-invalid2' class='contact-form__invalid-icon'>
          <svg
            version='1.1'
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 20 20'
          >
            <title>circle-with-cross</title>
            <path
              d='M10 1.6c-4.639 0-8.4 3.761-8.4 8.4s3.761 8.4 8.4 8.4 8.4-3.761 8.4-8.4c0-4.639-3.761-8.4-8.4-8.4zM14.789 13.061l-1.729 1.729-3.060-3.061-3.061 3.060-1.729-1.729 3.062-3.060-3.061-3.061 1.729-1.728 3.060 3.060 3.061-3.061 1.729 1.729-3.062 3.061 3.061 3.061z'
            ></path>
          </svg>
        </span>

        <span id='t-invalid2' class='contact-form__invalid-text'
          >Please fill in a valid email</span
        >
      </div>
      <label for='message'>Message</label>
      <div class='contact-form__items'>
        <textarea
          class='contact-form__message'
          name='message'
          id='message'
          cols='20'
          rows='10'></textarea>

        <span id='i-valid3' class='contact-form__valid-icon'>
          <svg
            version='1.1'
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 20 20'
          >
            <title>check</title>
            <path
              d='M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z'
            ></path>
          </svg>
        </span>

        <span id='i-invalid3' class='contact-form__invalid-icon'>
          <svg
            version='1.1'
            xmlns='http://www.w3.org/2000/svg'
            width='20'
            height='20'
            viewBox='0 0 20 20'
          >
            <title>circle-with-cross</title>
            <path
              d='M10 1.6c-4.639 0-8.4 3.761-8.4 8.4s3.761 8.4 8.4 8.4 8.4-3.761 8.4-8.4c0-4.639-3.761-8.4-8.4-8.4zM14.789 13.061l-1.729 1.729-3.060-3.061-3.061 3.060-1.729-1.729 3.062-3.060-3.061-3.061 1.729-1.728 3.060 3.060 3.061-3.061 1.729 1.729-3.062 3.061 3.061 3.061z'
            ></path>
          </svg>
        </span>

        <span id='t-invalid3' class='contact-form__invalid-message'
          >Please fill in a message</span
        >
      </div>

      <a href='#' rel='prefetch' id='btn-submit' class='btn btn-disabled'
        >Send message</a
      >
    </form>
  </div>
</section>

<style lang='scss'>
  @import '../sass/_variables.scss';
  @import '../sass/_components.scss';

  .contact {
    display: flex;
    justify-content: center;
    color: $white;
    position: relative;
    min-height: 100vh;
    background-color: $black;
    @media only screen and (max-width: $media-medium) {
      padding: 5rem 0;
      min-height: auto;
    }
  }

  .contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;

    @media (max-width: $media-medium) {
      flex-direction: column;
    }
  }

  .contact-info {
    width: 100%;

    p {
      color: $platinum-dark;
      margin-bottom: 4em;

      @media (max-width: $media-medium) {
        margin-bottom: 2em;
      }
    }

    a {
      text-decoration: none;
      color: $platinum;
      display: flex;
      align-items: center;
      transition: all 200ms ease-in-out;

      &:hover {
        color: $orange-web;
      }
    }

    svg {
      margin-right: 1.5rem;
      height: 1.5rem;
      width: 1.5rem;
      fill: currentColor;
    }
  }

  .contact-form {
    width: 100%;
    text-transform: uppercase;
    color: $platinum;
    margin-top: 7rem;
    @media (max-width: $media-medium) {
      margin-top: 4rem;
    }

    a {
      display: block;
      width: fit-content;
      margin: auto;

      @media (max-width: $media-medium) {
        margin-top: 0px;
      }
    }

    label {
      margin-bottom: 0.8rem;
    }

    input,
    textarea {
      font-family: inherit;
      width: 100%;
      color: inherit;
      margin-bottom: 3em;
      padding: 0.6rem 40px;
      border-radius: 0.6rem;
      outline: rgba(255, 255, 255, 0.062) solid 1px;
      outline-offset: -2px;
      background-color: rgba(216, 215, 215, 0.336);
      resize: none;
      &:focus,
      &:active {
        caret-color: $orange-web;
        outline: 1px solid $orange-web;
      }
    }
    textarea {
      padding: 0.6rem 1rem;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-text-fill-color: $platinum;
      transition: background-color 5000s ease-in-out 0s;
    }

    &__items {
      position: relative;
    }
    &__user-icon {
      fill: white;
      position: absolute;
      top: 0.65rem;
      left: 0.8rem;

      > svg {
        width: 18px;
        height: 18px;
      }
    }

    &__valid-icon {
      fill: rgba(21, 255, 0, 0.7);
      position: absolute;
      top: 0.6rem;
      right: 0.8rem;

      > svg {
        width: 22px;
        height: 22px;
      }
    }

    &__invalid-icon {
      fill: #e63553;
      position: absolute;
      top: 0.6rem;
      right: 0.8rem;

      > svg {
        width: 22px;
        height: 22px;
      }
    }
    &__invalid-text {
      color: #e63553;
      position: absolute;
      top: 2.8rem;
      left: 0.3rem;
      text-transform: none;
      font-size: 0.9rem;
    }

    &__invalid-message {
      color: #e63553;
      position: absolute;
      bottom: 1.3rem;
      left: 0.3rem;
      text-transform: none;
      font-size: 0.9rem;

      @media (max-width: $media-medium) {
        bottom: 2rem;
      }
    }

    &__message {
      height: 9rem;
    }

    &__email {
    }
  }
</style>

<script>
  import '../ts/contact.ts';
</script>
