---
const { className } = Astro.props;
---

<footer class={`${className} footer`}>
  <div class='footer-container'>
    <div class='footer-item'>
      <svg
        class='footer-logo'
        viewBox='0 0 300 300'
        xmlns='http://www.w3.org/2000/svg'
      >
        <title>favicon</title>
        <g data-name='Laag 2'>
          <g data-name='Laag 1'>
            <rect class='cls-1' width='300' height='300' rx='40'></rect>
            <path
              class='cls-2'
              d='M83.59,240.93V59.07h27.93v79.52h77V59.07h27.93V240.93H188.48V159.57h-77v81.36Z'
            ></path>
          </g>
        </g>
      </svg>
    </div>
    <div class='footer-item'>
      <a href='#about'>About</a>
      <a href='#image-carousel'>Projects</a>
      <a href='#contact'>Contact</a>
      <a href='#source'>Source code</a>
    </div>
    <div class='footer-item'>
      <p>Copyright &copy; HAIKO ERINKVELD | 2022 All rights reserved</p>
      <div class='footer-logos'>
        <a target='_blank' href='https://github.com/Haiko-E'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='svg-link'
            viewBox='0 0 24 24'
          >
            <path
              fill-rule='evenodd'
              clip-rule='evenodd'
              d='M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z'
            ></path>
          </svg>
        </a>
        <a
          target='_blank'
          href='https://www.linkedin.com/in/haiko-erinkveld-18193a190/'
        >
          <svg
            class='svg-link'
            viewBox='0 0 48 48'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
          >
            <circle cx='24' cy='24' r='20' fill='#0077B5'></circle>
            <path
              fill-rule='evenodd'
              clip-rule='evenodd'
              d='M18.7747 14.2839C18.7747 15.529 17.8267 16.5366 16.3442 16.5366C14.9194 16.5366 13.9713 15.529 14.0007 14.2839C13.9713 12.9783 14.9193 12 16.3726 12C17.8267 12 18.7463 12.9783 18.7747 14.2839ZM14.1199 32.8191V18.3162H18.6271V32.8181H14.1199V32.8191Z'
              fill='white'></path>
            <path
              fill-rule='evenodd'
              clip-rule='evenodd'
              d='M22.2393 22.9446C22.2393 21.1357 22.1797 19.5935 22.1201 18.3182H26.0351L26.2432 20.305H26.3322C26.9254 19.3854 28.4079 17.9927 30.8101 17.9927C33.7752 17.9927 35.9995 19.9502 35.9995 24.219V32.821H31.4922V24.7838C31.4922 22.9144 30.8404 21.6399 29.2093 21.6399C27.9633 21.6399 27.2224 22.4999 26.9263 23.3297C26.8071 23.6268 26.7484 24.0412 26.7484 24.4574V32.821H22.2411V22.9446H22.2393Z'
              fill='white'></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>

<style lang='scss'>
  @import '../sass/_variables.scss';
  @import '../sass/_components.scss';

  .cls-1 {
    fill: #f9b233;
  }
  .cls-2 {
    fill: #1d1d1b;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $black;
    overflow: hidden;

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: auto;
    }

    &-item {
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 2.5rem 0;

      > svg {
        height: 100%;
        width: 4rem;
      }

      p {
        font-size: 0.8rem;
        align-self: center;
        flex: 1;
        color: $platinum;
      }

      a {
        text-transform: uppercase;
        text-decoration: none;
        color: $platinum;

        &:not(:last-child) {
          padding-right: 1rem;
        }
      }

      &:nth-last-of-type(2) {
        border-bottom: 1px solid $platinum-dark;
        border-top: 1px solid $platinum-dark;
      }

      &:nth-last-of-type(1) {
        p {
          @media only screen and (max-width: $media-small) {
            text-align: center;
            margin-bottom: 1rem;
          }
        }
        @media only screen and (max-width: $media-small) {
          flex-direction: column;
        }
      }
    }
    &-logos {
      display: flex;
      align-items: center;

      a {
        display: flex;
      }

      svg {
        width: 2rem;
        height: 2rem;
      }

      @media only screen and (max-width: $media-small) {
        justify-content: space-around;
      }
    }
  }
</style>
