---
---

<section id='home' class='hero'>
  <h1>Creating code <br /> from<br /> your Design</h1>
  <a class='btn' href='#image-carousel'>Check my Work</a>
</section>

<style lang='scss'>
  @import '../sass/_variables.scss';
  @import '../sass/_components.scss'; // btn

  .hero {
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../public/assets/background.webp');
    background-color: #000000;
    background-size: 105% 105%;
    background-position-x: var(--positionX);
    background-position-y: var(--positionY);
    background-repeat: no-repeat;
    position: sticky;
    top: 0;
    height: 100vh;
    transform: rotate(45);

    @media only screen and (max-width: $media-medium) {
      padding: 3rem;
    }

    > h1 {
      color: $platinum;
      margin-bottom: 1em;

      @media only screen and (max-width: $media-medium) {
        font-size: 4rem;
      }
    }
  }
</style>

<script>
  import '../ts/hero';
</script>
