---
import '../sass/_variables.scss';
import Bar from './Bar.astro';
---

<Bar id='projects' className='center'>
  <h2>Work</h2>
  <h3 class='black'>Checkout my projects</h3>
</Bar>

<style lang='scss'>
  .black {
    color: black;
  }
</style>
