---
import { getFirstProject } from '../sanity/api.js';
import '@splidejs/splide/css';
import type { Project } from '../ts/types/types.js';
import ProjectItem from './ProjectItem.astro';

const data: Project[] = await getFirstProject();
---

<section id='image-carousel' class='splide' aria-label='Beautiful Images'>
  <div class='splide__track'>
    <ul class='splide__list'>
      {
        data.map((project: Project) => {
          return (
            <li class='splide__slide'>
              <ProjectItem project={project} isClickable={true} />
            </li>
          );
        })
      }
    </ul>
  </div>
  <ul class='splide__pagination'></ul>
</section>

<style lang='scss'>
  @import '../sass/variables.scss';
  @import '../sass/styles.scss';

  .splide {
    height: 100vh;
  }

  .splide__slide {
    height: 100%;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to top,
        hsla(0, 0%, 0%),
        hsla(0, 0%, 10%, 0.6),
        hsla(0, 0%, 40%, 0.4),
        hsla(0, 0%, 70%, 0.3),
        hsla(0, 0%, 100%, 0.1)
      );
    }
  }

  .splide__track {
    height: 100%;
  }

  .splide__slide img {
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
  }

  .splide__pagination {
    bottom: 5.5em;

    @media only screen and (max-width: $media-medium) {
      bottom: 2.5em;
    }
  }
</style>

<script>
  import '../ts/projects';
</script>
